{% extends "user_layout.html" %}

{% block content %}
<!-- Additional images -->
<div class="additional-images" style="margin-bottom: 20px;">
    <div class="additional-images-grid">
        {% if additional_images %}
            {% for image_filename in additional_images %}
                {% set full_filename = 'images/' + image_filename %}
                {% if item %}
                    {% set alt_text = 'Additional image of ' + item[2] %}
                    
                    <img src="{{ url_for('static', filename=full_filename) }}" alt="{{ alt_text }}" style="width: 200px; margin-right: 10px; margin-bottom: 10px; object-fit: cover;">
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No additional images available.</p>
        {% endif %}
    </div>
</div>

<div class="detail-container">
    {% if item %}
        <h2>{{ item[1] }}</h2>
        <p><strong>Scientific Name:</strong> {{ item[3] }}</p>
        <p><strong>Key Characteristics:</strong> {{ item[4] }}</p>
        <p><strong>Description:</strong> {{ item[5] }}</p>
        <p><strong>Impacts:</strong> {{ item[6] }}</p>
    {% endif %}
</div>
{% endblock %}

